<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet" href="../public/stylesheets/index.css")
    body
        if (person)
            h1 Hello world from #{person.name}
        else
            h1 Hello world from Arjun Porwal
        a(href="/download") Download File
            